* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #5b5b5b;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #12171e;
  padding: .4rem .8rem;
  transition: all .5s ease;
  z-index: 2;
}

#sidebar.active~.main-content {
  left: 200px;
  width: calc(100% - 200px);
}

#sidebar.active {
  width: 200px;
}

#sidebar #btn {
  position: absolute;
  color: #fff;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

#sidebar.active #btn {
  left: 90%;
}

#sidebar .top .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

#sidebar.active .top .logo {
  opacity: 1;
}

.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.bold {
  font-weight: 600;
}

#sidebar p {
  opacity: 0;
}

#sidebar.active p {
  opacity: 1;
}

#sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: .8rem auto;
  line-height: 50px;
}

#sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: .8rem;
}

#sidebar ul li a:hover {
  background-color: #fff;
  color: #12171e;
}

#sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;

}

#sidebar .nav-item {
  display: none;
}

#sidebar.active .nav-item {
  display: inline-block;
}

#sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  display: none;
  background-color: gray;
  font-weight: 500;
}

#sidebar ul li:hover .tooltip {
  display: inline;
}

#sidebar.active ul li .tooltip {
  display: none;
}

.main-content {
  position: relative;
  min-height: 100vh;
  top: 50px;
  left: 80px;
  transition: all .5s ease;
  width: calc(100% - 80px);
  padding-left: 5rem;
  color: #ccc;
}

p {
  max-width: 800px;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid {
  margin-left: 10px;
  border-spacing: 1px;
  display: block;
}

#grid tr td button {
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
}

#grid tr td button .text {
  display: none;
}

#grid tr td button:hover .text {
  display: block;
}

#grid tr td button .structure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: green;
  font-weight: 700;
}

#grid tr td button * {
  pointer-events: none;
}


#settings {
  padding: 5px;
  width: 220px;
  background-color: #444444;
}